@import "~bootstrap/scss/bootstrap";
@import "vars";

body {
    background-color: white;
}

a:link {
    text-decoration: none;
}

.carousel_member_home {
    height: 17rem;
}

.carousel_reco_home {
    height: 8rem;
}

.formulaire_h1 {
    text-align: center;
}

.img_banner {
    width: 100%;
}

.img_profile {
    border-radius: 50%;
    height: 10rem;
}

.card-body {
    padding: 0;
}

.banner {
    width: 100%;
    height: 25rem;
    background-image: url('../../public/images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logoAbc {
    width: 10rem;
    height: 10rem;
    background-size: cover;
}

.image_profile {
    border-radius: 50%;
    height: 10rem;
}

.card_reco {
    background: #f8f9fa;
    box-shadow: 0 0.2rem 0.3rem -0.2rem gray;
    border-radius: 0.2rem;
}

.img_member_reco {
    border-radius: 50%;
}

.card_connect {
    box-shadow: 0 0.2rem 0.3rem -0.2rem gray;
}

.profile-header {
    transform: translateY(5rem);
}

.list-item {
    margin-left : 2rem;
}

#container {
    display: flex;
    flex-direction: column;
}

.home_carousel {
    width: 35rem;
} 

.img_carousel {
    width: 10rem;
}

.name_member_h4 {
    font-size: 1.2em;
}

.title_home {
    font-size: 2em;
}

.card {
    border: none;
    width: 15rem;
}

.arrow {
    background-image: url('../../public/images/arrow.png');
    background-size: contain;
    height: 5rem;
    width: 5rem;
    align-self: center;
}

.block_card {
    justify-content: space-around;
}

.carousel-control-next-icon {
    background-image: url('../../public/images/arrowRight.png');
}

.carousel-control-prev-icon {
    background-image: url('../../public/images/arrowLeft.png');
}

.carousel-control-prev, .carousel-control-next {
    background-color:rgba(145, 145, 145, 0.2);
    width: 0.6rem!important;
}

.container-fluid {
    text-align: center;
    background-color: #F5F5F5;
    font-family: 'Gelasio', serif;
    
}

.footer-left a {
    color: rgb(12, 12, 12);
    margin: 5px;
}

.footer-left {
    display: inline-flex;
    
}

.footer-left .lien {
    padding: 10px;
    font-size: 19px;
}

.footer-right {
    padding-top: 16px;
    text-align: center;
}

.container-fluid .logo2 {
    text-align: right;
    padding: 10px;
}

.container-fluid .logo1 {
    position: absolute;
    padding: 10px;
}

.photos-membre {
    margin: 5px;
}

.card-membre {
    padding-top: 1rem;
    background: #f8f9fa;
    margin: 1rem;
    margin-top: 40px;
    margin-left: 15px;
    box-shadow: 0 0.2rem 0.3rem -0.2rem gray;
    border-radius: 0.2rem;
}

.paginate a {
    color: black;
    text-decoration: none;
}

.pagination {
    justify-content: center;
}

// profl page css

.contenant {
    display: flex;
}

.scrool{
    height: 30rem;
    overflow: auto;
    padding: 2rem;
}

.doreco {
    width: 80%;
    margin: auto;
    max-width: 500px;
}

.carte {
    width: 18rem; 
    display: flex;
    justify-content: center; 
    box-shadow: 0 0.2rem 0.3rem -0.2rem gray;
    border-radius: 0.2rem;
}

.clientInfo {
    font-size: 18px;
    width: auto;
    text-align: center;
}

.alignItem {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}

.rightItem {
    float: right;
}

@media screen and (max-width: 740px) {

    .carousel_member_home {
        height: 43rem;
    }

    .carousel_reco_home {
        height: 20rem;
    }

    .footer-left {
        display: grid;
    }
}
