{% extends 'base.html.twig' %}

{% block title %}Édition des recommandations{% endblock %}

{% block body %}
    <h1>Édition des recommandations</h1>

    {{ include('recommendation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('recommendation_index') }}">back to list</a>

    {{ include('recommendation/_delete_form.html.twig') }}
{% endblock %}
